<div class="flex justify-evenly mt-5 bg-white mx-4" id="<%= dom_id group %>">
  <p class="my-5 mr-5">
    <%=link_to image_tag(group.icon), group_path(group) %>
  </p>
  
  <p class="my-5 mr-5">
    <strong class="block font-medium mb-1">Name</strong>
    <%=link_to group.name, group_path(group) %>
  </p>

  <p class="my-5 mr-5">
    <strong class="block font-medium mb-1">Total Payment</strong>
    <%= group.total_payment(group) %>
  </p>

  <p class="my-5 mr-5">
    <strong class="block font-medium mb-1">User</strong>
    <%= group.user_id %>
  </p>

  <% if action_name != "show" %>
  <div class="self-center mr-5">
    <%= link_to "Detail", group, class: "rounded-lg py-3 ml-2 px-5 bg-lime-300 inline-block font-medium" %>
    <%= link_to 'Edit', edit_group_path(group), class: "rounded-lg py-3 ml-2 px-5 bg-gray-200 inline-block font-medium" %>
  </div>
  <% end %>
</div>
